// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 600px;
// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 13px;
$primarySize: 26px;
// ----------------------------------------------------------------------
// Line Height
// ----------------------------------------------------------------------
$primaryLineHeight: 24px;
// ----------------------------------------------------------------------
// Font Weight
// ----------------------------------------------------------------------
$bold: 700;
$semiBold: 600;
$normal: 400;
$light: 300;
// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$gray-color: #ccd0d2;
$red-color: #e2574c;
$primaryColor: #1f253d;
$color1: #fff;
$color2: #2ba6cb;
$color3: #17c3c6;
$color4: #a6a6a7;
$color5: #f8f8f9;
$linkColor:  #ccc;
$linkColorHover: #2ba6cb;
// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$primaryFont: 'HelveticaNeueLTStd';
$OpenSans: 'Open Sans', sans-serif;
// ----------------------------------------------------------------------
// Grids
// ----------------------------------------------------------------------
$gridColumns: 12;
// ----------------------------------------------------------------------
// Breakpoints
// ----------------------------------------------------------------------
$mobileMin: 320px;
$mobileMax: 767px;
$tabletMin: 768px;
$tabletMax: 1024px;
$desktopMin: 1025px;